ion-content{

    --ion-background-color:#a70e6c;
}
ion-list{

    --ion-background-color:#942c83;
    --ion-text-color:#ffffff;
}
ion-toolbar{
    --ion-text-color:#ffffff;
    --ion-background-color:#942c83;
}